<div class="grid">
    <div class="col-12">
        <p-breadcrumb [model]="bItems" [home]="bHome"></p-breadcrumb>
    </div>
    <div class="col-12">
        <p-card>
            <div class="grid">
                <div class="col-12">
                    <div class="flex align-items-center">
                        <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color': 'var(--primary-color)', 'color': '#ffffff'}" shape="circle"></p-avatar>
                        <p><span class="font-bold">{{currentUser?.name}}</span><br>{{currentUser?.email}} <br> {{currentUser?.phone}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <p-divider styleClass="mb-0"></p-divider>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-between align-items-center">
                        <div>
                            <p class="font-bold">Medios de pago ({{currentUserCards?.length}})</p>
                        </div>
                        <div>
                            <button [routerLink]="['/user', 'medios-pagos', 'agregar']" icon="pi pi-credit-card" pButton type="button" label="Agregar" class="p-button-success p-button-sm"></button>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngFor="let i of currentUserCards">
                    <p-card>
                        <div class="grid">
                            <div class="col-12">
                                <div class="flex justify-content-between">
                                    <div>
                                        <p class="m-0 font-bold" [style]="{'color':'var(--primary-color)'}">{{i.card_brand}}</p>
                                        <p class="m-0 font-light">{{i.card_masked_number}}</p>
                                        <div class="mb-2">
                                            <p-tag severity="success" value="{{i.card_type == 'credit'? 'CRÉDITO':'DÉBITO'}}"></p-tag>
                                        </div>
                                        <div *ngIf="i.default">
                                            <p-tag value="Default"></p-tag>
                                        </div>
                                        <div *ngIf="!i.default">
                                            <button (click)="cardAsDefault(i.card_id)" pButton pRipple type="button" label="Set as default" class="p-button-outlined p-button-sm"></button>
                                        </div>                                        
                                    </div>
                                    <div>
                                        <button (click)="deleteCard(i.alias_token, i.card_id)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div>
</div>
