<div class="grid">
    <div class="col-6">
        <div class="grid">
            <div class="col-12">
                <p class="font-bold text-center">
                    Orden de compra N° {{ordenDeCompra}}
                </p>
            </div>
            <div class="col-12">
                <div class="flex justify-content-center">
                    <img [src]="product?.photo" alt="Img" class="img">
                </div>
            </div>
            <div class="col-12">
                <p class="font-light text-center">
                    {{product?.name}}
                </p>
            </div>
            <div class="col-12">
                <p class="font-bold text-center m-0">
                    PYG {{product?.price | number: '1.0-0'}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="grid">
            <div class="col-12">
                <h2 class="text-center">Pago al contado</h2>
            </div>
            <div class="col-12">
                <div style="height: 300px; width: 500px; margin: auto" id="iframe-container"></div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="defaultCard">
        <div class="grid">
            <div class="col-12">
                <h2>Pago con tarjeta catastrada</h2>
            </div>
            <div class="col-12">
                <p-card>
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex justify-content-between">
                                <div>
                                    <p class="m-0 font-bold" [style]="{'color':'var(--primary-color)'}">{{defaultCard.card_brand}}</p>
                                    <p class="m-0 font-light">{{defaultCard.card_masked_number}}</p>
                                    <div class="mb-2">
                                        <p-tag severity="success" value="{{defaultCard.card_type == 'credit'? 'CRÉDITO':'DÉBITO'}}"></p-tag>
                                    </div>
                                    <div *ngIf="defaultCard.default">
                                        <p-tag value="Default"></p-tag>
                                    </div>                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="grid">
                                <div class="col-12">
                                    <p-divider styleClass="mb-0"></p-divider>
                                </div>
                                <div class="col-12">
                                    <h4>Detalles de la compra</h4>
                                </div>
                                <div class="col-12">
                                    <p class="m-0"><b>Total</b> PYG {{product?.price | number: '1.0-0'}}</p>
                                </div>
                                <div class="col-12" *ngIf="defaultCard.card_type == 'credit'">
                                    <p>Cantidad de cuotas</p>
                                    <p-dropdown placeholder="Seleccione cantidad de cuotas..." [style]="{'width':'300px'}" [options]="cuotas" [(ngModel)]="cuotaSeleccionada"></p-dropdown>
                                </div>
                                <div class="col-12">
                                    <div class="flex justify-content-end">
                                        <button (click)="tokenPayment()" pButton pRipple type="button" label="Pagar producto" class="p-button-outlined p-button-sm"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
