<div class="nav">
    <div class="mx-3">
        <h2 routerLink="/plub" class="brand" [style]="{'color':'var(--primary-color)'}">Plub</h2>
    </div>
    <div class="px-2 flex align-items-center user" (click)="menu.toggle($event)">
        <i class="pi pi-angle-down mr-2"></i>
        <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color': 'var(--primary-color)', 'color': '#ffffff'}" shape="circle"></p-avatar>
        <p><span class="font-bold">{{currentUser?.name}}</span><br>{{currentUser?.email}}</p>
    </div>
</div>
<p-menu #menu [popup]="true" [model]="items"></p-menu>