<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="grid">
                <div class="col-12">
                    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-center">
                        <button [routerLink]="['/plub']" icon="pi pi-arrow-left" pButton pRipple type="button" label="Productos"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>
