/* You can add global styles to this file, and also import other style files */
body {
    font-family: var(--font-family);
    margin: 0;

    .nav {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--surface-300);

        .brand {
            cursor: pointer;
        }
    }

    .content {
        padding: 1rem;
        height: calc(100vh - 70px);
        overflow-y: auto;
        background-color: var(--surface-100)
    }
}