<div class="grid">
    <div class="col-12">
        <p-breadcrumb [model]="bItems" [home]="bHome"></p-breadcrumb>
    </div>
    <div class="col-12">
        <p-card>
            <div class="grid">
                <div class="col-12">
                    <p-messages severity="warn">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col-12">
                                    <div class="flex align-items-center">
                                        <div class="mr-3">
                                            <img src="assets/warning.png" width="32"/>
                                        </div>
                                        <div>
                                            <p class="font-bold">Catastro de tarjetas</p>
                                            <p class="font-light">Estimado usuario, a continuación usted pasará <b>por única vez</b> por un proceso de validación con preguntas de seguridad. Para iniciar favor tener en cuenta las siguientes recomendaciones:</p>
                                            <ol>
                                                <li>
                                                    Verifique su número de cédula de identidad
                                                </li>
                                                <li>
                                                    Tenga a mano sus tarjetas de crédito y débito activas
                                                </li>
                                                <li>
                                                    Verifique el monto y lugar de sus últimas compras en comercios o extracciones en cajeros
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>
                <div class="col-12 my-3">
                    <div style="height: 300px; width: 550px; margin: auto" id="iframe-container"></div>
                </div>
            </div>
        </p-card>
    </div>
</div>