.product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .product-img {
        width: 70%;
        height: auto;
    }

    .price {
        font-size: 1.75rem;
    }
}
