<div class="grid">
    <div class="col-12">
        <p-breadcrumb [model]="bItems" [home]="bHome"></p-breadcrumb>
    </div>
    <div *ngFor="let i of productos" class="col-3">
        <p-card styleClass="shadow-2">
            <div class="grid">
                <div class="col-12">
                    <div class="product-img-container">
                        <img [src]="i.photo" alt="Img" class="product-img">
                    </div>
                </div>
                <div class="col-12">
                    <p class="font-light">
                        {{i.name}}
                    </p>
                </div>
                <div class="col-12">
                    <p class="font-bold text-center price m-0">
                        PYG {{i.price | number: '1.0-0'}}
                    </p>
                </div>
                <div class="col-12">
                    <p-divider styleClass="mb-0"></p-divider>
                </div>
                <div class="col-12">
                    <button [routerLink]="['/product', i.id, 'single-buy']" pButton pRipple icon="pi pi-shopping-cart" type="button" label="Comprar" class="p-button-text font-bold"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>
